/*
::v-deep .el-icon-devops {
    background: url('../logo.png') center no-repeat;
    font-size: 12px;
    background-size: cover;
}

::v-deep .el-icon-devops:before {
    content: "替";
    font-size: 12px;
    visibility: hidden;
}*/
::v-deep .el-icon-logo:before{
    content:'';
    display:block;
    width:150px;
    height:100px;
    background:url("../logo.png") center no-repeat;
    background-size: 20% 60%;
}